{% extends 'base.html' %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="card p-4 shadow-lg" style="width: 400px;">
        <h3 class="text-center mb-4">Login</h3>

        <!-- Display Form Errors -->
        {% if form.errors %}
        <div class="alert alert-danger">
            <ul>
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <li>{{ field|title }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">Username</label>
                {{ form.username }}
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                {{ form.password }}
            </div>
            <button type="submit" class="btn btn-dark w-100">Log in</button>
        </form>

        <div class="text-center mt-3">
            <div class="text-center mt-3">
                <span>Not a Member yet?</span>
                <div class="mt-2">
                    <a href="{% url 'users:customer_register' %}" class="btn btn-outline-dark btn-sm">Register as Customer</a>
                    <a href="{% url 'users:vendor_register' %}" class="btn btn-outline-dark btn-sm">Register as Vendor</a>
                </div>            
            </div>
            
        </div>
    </div>
</div>
{% endblock %}
